# Heart Attack Prediction

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from keras import models 
from keras import layers

Using TensorFlow backend.

In [2]:
df=pd.read_csv(r'C:\Users\kumail\Desktop\FAST\Practising using kaggle datasets\datasets_737503_1278636_heart.csv')

In [3]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
#independent features
inputs_all = df.loc[:, df.columns != 'target']
inputs_all.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [5]:
#dependent feature
outputs_all=df.loc[:, df.columns == 'target']
outputs_all.head()

   target
0       1
1       1
2       1
3       1
4       1

In [6]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(inputs_all, outputs_all, test_size=0.2, random_state = 44) 
#splits the datasets with 20% dataset reserverd for test data

In [7]:
x_train.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
135,49,0,0,130,269,0,1,163,0,0.0,2,0,2
263,63,0,0,108,269,0,1,169,1,1.8,1,2,2
174,60,1,0,130,206,0,0,132,1,2.4,1,2,3
51,66,1,0,120,302,0,0,151,0,0.4,1,0,2
291,58,1,0,114,318,0,2,140,0,4.4,0,3,1

In [8]:
y_train.head()

     target
135       1
263       0
174       0
51        1
291       0

In [9]:
#normalizing the data
mean = x_train.mean(axis=0)
x_train -= mean 
std = x_train.std(axis=0)
x_train /= std
x_test -= mean 
x_test /= std

In [10]:
y_train = np.asarray(y_train).astype('float32')
y_test = np.asarray(y_test).astype('float32')

In [11]:
x_train=np.asarray(x_train).astype('float32')
x_test=np.asarray(x_test).astype('float32')

In [12]:
x_train

array([[-0.5756847 , -1.4608225 , -0.9378497 , ...,  0.9876982 ,
        -0.7075269 , -0.46317378],
       [ 0.94333386, -1.4608225 , -0.9378497 , ..., -0.64944535,
         1.2271794 , -0.46317378],
       [ 0.61782986,  0.68171716, -0.9378497 , ..., -0.64944535,
         1.2271794 ,  1.1612908 ],
       ...,
       [ 0.4008272 ,  0.68171716,  0.9378497 , ...,  0.9876982 ,
         1.2271794 ,  1.1612908 ],
       [ 0.50932854, -1.4608225 , -0.9378497 , ..., -0.64944535,
        -0.7075269 , -0.46317378],
       [ 0.4008272 ,  0.68171716, -0.9378497 , ..., -0.64944535,
         0.25982627,  1.1612908 ]], dtype=float32)

In [13]:
x_train.shape

(242, 13)

In [14]:

model = models.Sequential() 
model.add(layers.Dense(9, activation='relu', input_shape=(13,)))
model.add(layers.Dense(9, activation='relu'))
model.add(layers.Dense(1, activation='sigmoid')) #sigmoid to give probablity

model.compile(optimizer='rmsprop',  
              loss='binary_crossentropy', #b/c it is binary classification
              metrics=['accuracy'])

model.fit(x_train, y_train, epochs=50, batch_size=10)

Epoch 1/50
242/242 [==============================] - 1s 5ms/step - loss: 0.6260 - accuracy: 0.6942
Epoch 2/50
242/242 [==============================] - 0s 793us/step - loss: 0.5954 - accuracy: 0.7397
Epoch 3/50
242/242 [==============================] - 0s 703us/step - loss: 0.5678 - accuracy: 0.7645
Epoch 4/50
242/242 [==============================] - 0s 814us/step - loss: 0.5420 - accuracy: 0.7769
Epoch 5/50
242/242 [==============================] - 0s 678us/step - loss: 0.5179 - accuracy: 0.7893
Epoch 6/50
242/242 [==============================] - 0s 674us/step - loss: 0.4953 - accuracy: 0.7893
Epoch 7/50
242/242 [==============================] - 0s 674us/step - loss: 0.4740 - accuracy: 0.8058
Epoch 8/50
242/242 [==============================] - 0s 661us/step - loss: 0.4571 - accuracy: 0.8058
Epoch 9/50
242/242 [==============================] - 0s 537us/step - loss: 0.4410 - accuracy: 0.8223
Epoch 10/50
242/242 [==============================] - 0s 562us/step - loss: 0.4257 - accuracy: 0.8223
Epoch 11/50
242/242 [==============================] - 0s 554us/step - loss: 0.4108 - accuracy: 0.8388
Epoch 12/50
242/242 [==============================] - 0s 533us/step - loss: 0.3981 - accuracy: 0.8512
Epoch 13/50
242/242 [==============================] - 0s 450us/step - loss: 0.3869 - accuracy: 0.8554
Epoch 14/50
242/242 [==============================] - 0s 455us/step - loss: 0.3762 - accuracy: 0.8636
Epoch 15/50
242/242 [==============================] - 0s 438us/step - loss: 0.3671 - accuracy: 0.8760
Epoch 16/50
242/242 [==============================] - 0s 541us/step - loss: 0.3597 - accuracy: 0.8719
Epoch 17/50
242/242 [==============================] - 0s 459us/step - loss: 0.3525 - accuracy: 0.8636
Epoch 18/50
242/242 [==============================] - 0s 417us/step - loss: 0.3473 - accuracy: 0.8678
Epoch 19/50
242/242 [==============================] - 0s 417us/step - loss: 0.3429 - accuracy: 0.8719
Epoch 20/50
242/242 [==============================] - 0s 492us/step - loss: 0.3384 - accuracy: 0.8719
Epoch 21/50
242/242 [==============================] - 0s 496us/step - loss: 0.3343 - accuracy: 0.8760
Epoch 22/50
242/242 [==============================] - 0s 422us/step - loss: 0.3306 - accuracy: 0.8802
Epoch 23/50
242/242 [==============================] - 0s 434us/step - loss: 0.3278 - accuracy: 0.8760
Epoch 24/50
242/242 [==============================] - 0s 438us/step - loss: 0.3252 - accuracy: 0.8760
Epoch 25/50
242/242 [==============================] - 0s 405us/step - loss: 0.3227 - accuracy: 0.8802
Epoch 26/50
242/242 [==============================] - 0s 401us/step - loss: 0.3200 - accuracy: 0.8802
Epoch 27/50
242/242 [==============================] - 0s 426us/step - loss: 0.3177 - accuracy: 0.8802
Epoch 28/50
242/242 [==============================] - 0s 409us/step - loss: 0.3162 - accuracy: 0.8802
Epoch 29/50
242/242 [==============================] - 0s 442us/step - loss: 0.3128 - accuracy: 0.8802
Epoch 30/50
242/242 [==============================] - 0s 475us/step - loss: 0.3115 - accuracy: 0.8802
Epoch 31/50
242/242 [==============================] - 0s 426us/step - loss: 0.3104 - accuracy: 0.8802
Epoch 32/50
242/242 [==============================] - 0s 471us/step - loss: 0.3077 - accuracy: 0.8843
Epoch 33/50
242/242 [==============================] - 0s 450us/step - loss: 0.3063 - accuracy: 0.8843
Epoch 34/50
242/242 [==============================] - 0s 430us/step - loss: 0.3045 - accuracy: 0.8843
Epoch 35/50
242/242 [==============================] - 0s 413us/step - loss: 0.3022 - accuracy: 0.8802
Epoch 36/50
242/242 [==============================] - 0s 463us/step - loss: 0.3007 - accuracy: 0.8802
Epoch 37/50
242/242 [==============================] - 0s 434us/step - loss: 0.2990 - accuracy: 0.8802
Epoch 38/50
242/242 [==============================] - 0s 417us/step - loss: 0.2980 - accuracy: 0.8802
Epoch 39/50
242/242 [==============================] - 0s 426us/step - loss: 0.2959 - accuracy: 0.8802
Epoch 40/50
242/242 [==============================] - 0s 446us/step - loss: 0.2941 - accuracy: 0.8843
Epoch 41/50
242/242 [==============================] - ETA: 0s - loss: 0.2887 - accuracy: 0.88 - 0s 496us/step - loss: 0.2930 - accuracy: 0.8843
Epoch 42/50
242/242 [==============================] - 0s 384us/step - loss: 0.2907 - accuracy: 0.8802
Epoch 43/50
242/242 [==============================] - 0s 380us/step - loss: 0.2899 - accuracy: 0.8843
Epoch 44/50
242/242 [==============================] - 0s 467us/step - loss: 0.2888 - accuracy: 0.8843
Epoch 45/50
242/242 [==============================] - 0s 446us/step - loss: 0.2865 - accuracy: 0.8843
Epoch 46/50
242/242 [==============================] - 0s 417us/step - loss: 0.2855 - accuracy: 0.8843
Epoch 47/50
242/242 [==============================] - 0s 422us/step - loss: 0.2840 - accuracy: 0.8843
Epoch 48/50
242/242 [==============================] - 0s 409us/step - loss: 0.2821 - accuracy: 0.8843
Epoch 49/50
242/242 [==============================] - 0s 401us/step - loss: 0.2812 - accuracy: 0.8884
Epoch 50/50
242/242 [==============================] - 0s 455us/step - loss: 0.2788 - accuracy: 0.8843

In [16]:
#testing model
test_loss, test_accuracy = model.evaluate(x_test, y_test)

61/61 [==============================] - 0s 3ms/step

In [17]:
print('\nTest loss: {0:.2f}. Test accuracy: {1:.2f}%'.format(test_loss, test_accuracy*100.))

Test loss: 0.45. Test accuracy: 85.25%